## C6M2L2 Item 03 â€“ Filtering and sorting data

## Generic guidelines: 

Refer to the [Exercise](https://www.coursera.org/learn/database-clients/supplement/0oDtw/working-with-labs-in-this-course) for guidance on viewing your code, instructions related to the Jupyter notebook environment, as well as how to access the MySQL database in it.

## Prerequisites 

To complete this exercise, you must have access to the `little_lemon` database. You need to `import MySQL Python/Connector` and, as an authorized user, establish a connection between Python and the MySQL database via connector API using the following code:

In [1]:
import mysql.connector as connector

In [2]:
# Establish connection b/w Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )

Once, the connection is established, create a `cursor` object to communicate with the entire MySQL database from your python working environment.

In [3]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Now, you can select the database `little_lemon` using the code below and work with the respective tables to accomplish the required tasks.

In [4]:
# Set little_lemon for use 
cursor.execute("use little_lemon")

# Confirm the database in use
connection.database

'little_lemon'

## Scenario 

Little Lemon need to filter and sort the data in their MySQL database using Python to complete the following tasks: 

* Determine which waiter is serving which guest 
* Identify all guests who paid a bill amount above a certain threshold 
* And list all starters above a certain price and order with the price. 

Help Little Lemon extract this data from their database using filtering and sorting techniques.

## Task 1: 

Little Lemon need to know how many bookings they have today for table number 12. They also need to know the names of the guests booked for table 12 and who their servers are. 

Help Little Lemon to complete this task by filtering the records for table 12 from the Bookings table. Show the required records for the following columns in the output: 

* `TableNo`, 
* `GuestFirstName`
* `GuestLastName`
* `EmployeeID`

In [6]:
# Add your code here
select_stmt = """ 
SELECT TableNo, GuestFirstName, GuestLastName, EmployeeID
FROM Bookings
WHERE TableNo=12;
"""

cursor.execute(select_stmt)

result = cursor.fetchall()

print(cursor.column_names)
for row in result:
    print(row)

('TableNo', 'GuestFirstName', 'GuestLastName', 'EmployeeID')
(12, 'Anna', 'Iversen', 1)
(12, 'Joakim', 'Iversen', 1)

## Task 2: 

Little lemon wants to send a coupon to all guests who spent more than $40 at the restaurant today.  

Help little lemon to filter and sort the records of all quests who qualify for coupon.   


**TIP:** Target the `BookingID` and `BillAmount` columns in the `Orders` table. Sort the data based on `BillAmount` in `DESC`. 

Use a fetch module on the cursor or set the limit in your SQL query.

In [7]:
# Add your code here
select_stmt = """ 
SELECT BookingID, BillAmount
FROM Orders
WHERE BillAmount > 40
ORDER BY BillAmount DESC;
"""

cursor.execute(select_stmt)

result = cursor.fetchall()

print(cursor.column_names)
for row in result:
    print(row)

('BookingID', 'BillAmount')
(1, 86)
(5, 43)

## Task 3: 

Little lemon needs to determine what the most and least expensive starters and desserts on their menu items are. 

Help them out by filtering the menu items and sorting them by price using python.  

**TIP:** Filter the records based on the `Type` column in the `MenuItems` table. Sort the records by `Price` column in `DESC` order.

In [8]:
# Add your code here
select_stmt = """ 
SELECT *
FROM MenuItems
WHERE (Type = 'Starters' OR Type = 'Desserts')
ORDER BY Price DESC;
"""

cursor.execute(select_stmt)

result = cursor.fetchall()

print(cursor.column_names)
for row in result:
    print(row)

('ItemID', 'Name', 'Type', 'Price')
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)
(5, 'Falafel', 'Starters', 7)
(10, 'Greek yoghurt', 'Desserts', 7)
(11, 'Ice cream', 'Desserts', 6)
(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(6, 'Hummus', 'Starters', 5)
(12, 'Cheesecake', 'Desserts', 4)